@import "../abstracts/variables";

body {
  color: black;
  font-size: 16px;

}
.login {
  height: 100%;
  .row {
    height: 100%;
  }
}
.login-bg {
  background: url('../../images/yard-sale.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .login-intro {
    color: white;
  }
}

.logo-container {
  height: 10rem;
  width: 10rem;
  margin-bottom: 2rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: app-logo-spin infinite 20s linear;
  }
}

.login-button-container {
  border-left: 0.2rem solid $palette-main;
  i {
    margin-left: -0.1rem;
    color: $palette-main;
  }
  h3 {
    font-weight: 300;
    line-height: 2.4rem;
    letter-spacing: 0.025rem;
  }
  button {
    background: $palette-accent;
    width: 75%;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.025rem;
    & span:nth-child(1) {
      width: 15%;
      background-color: $palette-main;
    }
    & span:nth-child(2){
      width: 85%;
    }
    .fa-google {
      color: white;
      font-size: 1.2rem;
    }
  }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

