@import "template.scss";
@import "base/typography";
@import "base/error";
@import "components/button";

.app {
  height: 100vh;
}

.overlay-black-7 {
  background: rgba(0, 0, 0, 0.7);
}

.modal.show{
	display: block !important;
	background-color: rgba(black, 0.8);
}
