//  COLOR VARIABLES

// Brand Colors
$palette-main: #3359d8;
$palette-accent: #3365D8;
$palette-accent-alt: #3371D8;

// Utility Colors
$palette-primary: $palette-main;
$palette-success: #00B803;
$palette-danger: #F57474;
$palette-warning: #FFAF30;
$palette-info: $palette-accent-alt;
$palette-secondary: #8F92A8;
$palette-dark: #000000;

// Material Greyscale
$grey-50 : #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;